<h2 class="text-align-center">Registration</h2>
<div class="app-plate">
  <form #registrationForm="ngForm" (ngSubmit)="registrationForm.valid && onSubmit()" novalidate>
    <div class="registration-form">
      <div>
        <div class="form__control">
          <label for="name">Name</label>
          <!--Use the name `name` for the form control.-->
          <input  type="text" id="name" name="name" [(ngModel)]="name" required #nameInput="ngModel" placeholder="Input text"/>
          <span *ngIf="nameInput.invalid && (nameInput.dirty || nameInput.touched)" id="nameErrorMessage" class="text-danger">Name is required.</span>
        </div>
        <div class="form__control">
          <label for="email">Email</label>
          <!--Use the name `email` for the form control.-->
          <input type="email" id="email" name="email" [(ngModel)]="email" required emailValidator #emailInput="ngModel" placeholder="Input text"/>
          <span *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)" id="emailErrorMessage" class="text-danger">Email is required.</span>
        </div>
        <div class="form__control">
          <label for="password">Password</label>
          <!--Use the name `password` for the form control.-->
          <input type="password" id="password" name="password" [(ngModel)]="password" required #passwordInput="ngModel" placeholder="Input text"/>
          <span *ngIf="passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)" id="passwordErrorMessage" class="text-danger">Password is required.</span>
        </div>
      </div>
      <div class="form__action">
        <app-button (click)="onSubmit()" [buttonText]="'register'"></app-button>
      </div>
      <div class="form__text">
        If you have an account you may <strong>Login</strong>
      </div>
    </div>
  </form>
</div>
