@import 'src/app/shared/styles/styles.scss';

.login-form {
  width: 310px;
  margin-top: 36px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.app-plate {
  width: 426px;
  margin: 0 auto;
}

.login-form {
  margin-top: 36px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

