<app-header><app-button [buttonText]="'Login'"></app-button></app-header>
<div class="app-root">
  <!-- Search component -->
  <!-- <app-search></app-search> -->

  <!-- Info component -->
  <!-- <app-info></app-info> -->

  <!-- <courses-page></courses-page> -->

  <!-- Login Form component -->
  <!-- <app-login-form></app-login-form> -->

  <!-- Login Form component -->
  <!-- <app-registration-form></app-registration-form> -->

  <!-- Login Form component -->
  <app-course-form></app-course-form>

  <!-- Modal component -->
  <!-- <app-modal [message]="'Message'" [title]="'Title'" [okButtonText]="'Ok'" [cancelButtonText]="'Cancel'"></app-modal> -->
</div>
