@import 'src/app/shared/styles/styles';

.course {
  min-width: 60vw;

  &__grid {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin-top: 24px;
  }

  &__left {
    flex: 2;
  }

  &__right {
    flex: 1;
  }

  &__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & input {
      flex: 1;
    }

    & app-button {
      margin-left: 12px;
    }

    & .course__duration {
      margin-left: 12px;
    }
  }

  &__authors {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  &__author__actions {
    display: flex;
    gap: 4px;
  }

  &__author {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 0;

    &--empty {
      color: gray;
      font-style: italic;
      padding: 4px 0;
    }
  }
}
